/*----Common Styles-----*/
.ext-elm button:active{
    outline: none
}
.ext-action-btn{
    font-family: "Nokia Pure Text Light",Arial,sans-serif, 'Baloo 2', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: 5px 8px;
    width: fit-content;
    margin-left: 15px;
    background-color: #f0f0f0;
    border: 1px solid rgb(226, 226, 226);
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    line-height: 0.8em;
    user-select: none;
    font-weight: 500 !important;

    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #fcfcfc;
    box-shadow: rgba(238, 238, 238, 0.8) 0px 2px 8px 0px;
    color: #f8f8f8;
    /* 
    color: #fcfcfc;
    background: #1488CC;
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
    background: linear-gradient(to right, #2B32B2, #1488CC);
    font-weight: 500; */

}
.ext-action-btn>i{
    opacity: 0.9;
}

.show-on-hover{
    display: none;
}
.build-detail .show-on-hover{
    transition: all 1s ease-in-out;
}
.build-detail:hover .show-on-hover{
    transition: all 1s ease-in-out;
    display: inline;
}
/*----Common Styles End-----*/


/*-----UTE CLOUD-----*/
.ext-elm-tag{ 
    color: #fcfcfc;
    border-radius: 10px;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 0.9em
}
.time-left{
    background-color: green;
}
.build-detail, .tl-name{
    background-color: #004c9a;
}
.copy-ip-address{
    font-size: 0.8em;
    transition: 0.1s ease-in;
    background-color: inherit;
    border: none;
}
.copy-ip-address:active{
    font-size: 0.6em;
}
/*--Single Run Executions Page--*/
.id-field-extention-toggler{
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 10px;
}

.ext-elm-tag a, .ext-elm-tag a:hover{
    color: #fcfcfc;
    text-decoration: underline;
}
.ext-elm-tag a:hover{
    transform: scaleX(1.2)
}
.ext-elm-tag a:active, .ext-elm-tag a:focus{
    color: rgb(179, 179, 179);
}
.green-tag{
    background-color: green;
}
.red-tag{
    background-color: red;
}
.grey-tag{
    background-color: #ccc;
}
.blue-tag{
    background-color: #004c9a;
}
.orange-tag{
    background-color: orange;
}
.green-indication{
    border-left: 3px solid #10bb1a;
}
.orange-indication{
    border-left: 3px solid orange;
}
.red-indication{
    border-left: 3px solid red;
}
.grey-indication{
    border-left: 3px solid #ccc;
}

.owner-manual{

}
.owner-cloud-reg{
 
}


/*--Reporting portal - report stats feature ---*/
.ext-wrapper *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.ext-wrapper{
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    display: inline-block;
    z-index: 999;
    margin-left: 8px; 
    width: fit-content;
    font-size: 15px;
    position: relative;
    font-weight: 400;
}
.ext-wrapper a{
    text-decoration: none;
    color: #000;
}
.ext-wrapper .report-stats .stats-view-btn{
    height: 28px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 5px 8px;
    font-weight: 500;
}
.ext-wrapper .stats-viewer{
    z-index: 999;
    margin-top: 5px;
    background-color: #fcfcfc;
    position: absolute;
    border: 5px solid rgb(58, 58, 58);
    border: 4px solid #ddd;
}
.ext-wrapper .stats-viewer .cases-type{
    text-align: center;
    text-transform: capitalize;
    position: sticky;
    line-height: 30px;
    background-color: #fcfcfc;
    color: black;
    /*border-bottom: 1px solid #fcfcfc;*/
}
.stats-viewer .cases-type{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.25);
}
.stats-viewer .refresh-btn{
    float: right;
    height: calc(100%);
    position: absolute;
    right: 0px;
    padding: 5px 14px;
    border: 0px;
    background-color: #124191;
    border-left: 1px solid #ccc;
    color: #ffffff;
    cursor: pointer;
    justify-self: end;
}
.stats-viewer .refresh-btn:active{
    outline: 0px;
}
.ext-wrapper .cases-type.no-run{
    background-color: #ccc;
}
.ext-wrapper .cases-type.passed{
    color: #fcfcfc;
    background-color: rgb(107, 194, 20);
}
.ext-wrapper .cases-type.failed{
    color: #fcfcfc;
    background-color: red;
}
.ext-wrapper .stats-wrapper{
    overflow: auto;
    height: fit-content;
    max-height: 70vh;
}
.ext-wrapper .stats-viewer .stats-wrapper::-webkit-scrollbar {
    width: 5px;
    background: rgb(238, 238, 238);
}
.ext-wrapper .stats-viewer .stats-wrapper::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155); 
    border-radius: 3px;
}
.ext-wrapper table.stats-table{
    border-collapse: collapse;
    border: 1px solid rgb(58, 58, 58);
    margin: 0px 2px;
    width: max-content;
}
table.stats-table.statistics{
    border-collapse: collapse;
}
table.stats-table.statistics tr td{
    font-size: 0.9em;
    /* border: 1px solid rgb(45, 45, 45); */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
}
table.stats-table.statistics tr>td:first-child{
    display: flex;
    align-items: center;
}
table.stats-table.statistics tr>td:last-child{
    text-align: left !important;
    margin-left: 15px
}

.ext-wrapper table.stats-table th, .ext-wrapper table.stats-table td{
    border: 1px solid #ccc;
    padding: 3px 5px;
    line-height: 20px;
}
.ext-wrapper table.stats-table thead tr>th{
    text-align: left;
}
.ext-wrapper table.stats-table thead tr>th:last-child{
    text-align: center;
    width: 85px;
}
.ext-wrapper table.stats-table tbody tr>th{
    text-align: center;
}
.ext-wrapper table.stats-table tbody tr>td:last-child{
    text-align: center;
}

.ext-wrapper .stats-viewer table tbody tr td.tester-name{
    cursor: pointer;
    width: calc(fit-content + 20px);
}
.ext-wrapper .stats-viewer table tbody tr td.tester-name:hover{
    /* transform: scale(1); */
    color: #0838a8;
}



/*-----FEATURE: Tests to Analyze----*/
.ext-testcase-analyzer{
    margin-bottom: 10px;
    font-size: 13.5px;
}

.stats-viewer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

/* ------CIT Progress Styles--------- */
.stats-viewer .item-header{
    padding: 5px 8px;
    font-weight: bold;
    background-color: #636363 !important;
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    border-top: 1px solid #ccc;
}
.stats-viewer .item-header>:last-child{
    cursor: pointer
}
.stats-viewer .item-header+.item-content{
    display: none;
    font-size: 1em;
}
.stats-viewer .item-header.active+.item-content{
    display: block;
}
.stats-viewer .item-content .item-content_wrapper{
    display: block;
    margin: auto;
    width: 100%;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    align-items: center;
}
.stats-viewer .item-content .group{
    width: calc(100% - 5px);
    display: block;
    /* flex-direction: column; */
    align-items: center;
    margin: auto;
}
.group_title{
    color: #fcfcfc;
    font-weight: bold;
    padding: 2px 10px;
    width: 100%;
    padding-top: 5px;
    background-color: none;
}
.group_title.no-run{
    background-color: #ccc;
    color: #000;
}
.group_title.not-analyzed{
    background-color: #FF9233;
}
.group_title.failed{
    background-color: red;
}
.group_title.env-issue{
    background-color: #9E229C;
}

.cit-progress.ext-wrapper table.stats-table{
    margin: auto;
}

/* --------CIT Progress Styles End--------- */








/* --------robot file copy button feature styles--------- */
.robot-file-copy-btn{
    position: absolute;
    padding: 1px 5px;
    background-color: #00000017;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    right:0px;
    bottom:0px;
    color: #0000009c;
}
.robot-file-copy-btn:hover{
    background-color: #00000025;
}

.ext-message-box{
    position: absolute;
    right: 20px;
    bottom: 60px;
    margin: 0px 20px 30px 0px;
    /* background-color: #1449a3;
    color: #fcfcfc; */
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fcfcfc;
    border-left: 2px solid #FF9233;
    color: black;
}





.color-palette{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
    background-color: #ccc;
    border-radius: 2px;
}
.no-run{
    background-color: #ccc;
    color: #000;
}
.not-analyzed{
    background-color: #FF9233;
}
.failed{
    background-color: red;
}
.env-issue{
    background-color: #9E229C;
}
.passed{
    background-color: rgb(107, 194, 20)
}
.cloud{
    background-color: rgb(77, 255, 255);
}
.total{
    background-color: black
}
